@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

@keyframes left_anim {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(120);
    }
  }

body {
  margin: 0;
  padding: 0;
}

  header {
    animation-name: left_anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-align: start;
  }

  .texta {
    display: flex;
    padding: 8px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    font-weight: 50;
    transform: translateX(0);
    align-self: start;
    text-transform: uppercase;
    
  }

  .form1,.form2 {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    align-items: space-between;
  }
  
  .form_button1,.form_button2 {
    text-align: center;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    font-size: 3em;
    color: #191E28;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #FFD21E;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
  }

  .form_button1:hover,.form_button2:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
  }

  .article{
    align-self: end;
    text-align: end;
    align-items: flex-end;
  }

  .textb {
    display: flex;
    padding: 8px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    font-weight: 50;
    transform: translateX(0);
    align-self: start;
    text-transform: uppercase;
  }

  p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #333;
  }
  .predlog{
    display: flex;
    padding: 8px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 30;
    transform: translateX(0);
    align-self: start;
    text-transform: uppercase;
  }

  
