@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

@keyframes left_anim {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(120);
    }
  }

body {
  margin: 0;
  padding: 0;
}

  header {
    padding: 60px 60px;
  }

  .head{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    height: 1000px;
    text-align: start;
  }

  .form1,.form2 {
    position: relative;
    margin: 0 auto;
  }
  .form1{
    text-align: end;
  }
  .form2{
    text-align: start;
  }
  .form_button1,.form_button2 {
    text-align: center;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    color: #191E28;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #FFD21E;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 1em;
  }

  .form_button1:hover,.form_button2:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
  }

  .secondText{
    align-self: end;
    text-align: end;
    align-items: flex-end;
    padding: 8px 50px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    height: 1000px;
  }

  .predlog{
    padding: 8px 50px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 30;
    align-self: start;
    text-transform: uppercase;
  }

  .howWeWork{
    padding: 8px 50px;
    font-family: 'Open Sans', sans-serif;
  }
  .howAcces{
    padding: 8px 50px;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
  }

